.motto-container {
    background: #DBEAFE;
    display: grid;
    place-items: center;
}

.motto-content-container {
    width: 80vw;
    display: flex;
}

#motto-svg {
    width: 100px;
}

#motto-text {
    font-size: 16pt;
    font-weight: 630;
    display: grid;
    place-items: center;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    .motto-content-container {
        width: 95vw;
        display: grid;
        place-items: center;
    }
    #motto-text {
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
    }
}