.footer-container {
    background: #F3F4F6;
}

.footer-content-container {
    width: 80vw;
}

#footer-logo {
    width: 200px;
    margin-bottom: 15px;
}

.footer-text-title {
    font-weight: bold;
}

.footer-text-desc {
    text-decoration: none;
    color: black;
    font-size: 10pt;
}

#footer-copyright {
    color: gray;
    font-size: 10pt;
    font-weight: 700;
}

.footer-social-logo {
    text-decoration: none;
    color: black;
    font-size: 18pt;
}

#footer-line-separator {
    background: gray;
    border: none;
    margin: 20px 0px 20px 0;
}

@media only screen and (max-width: 768px) {
    .footer-content-container {
        width: 95vw;
    }
    .footer-container {
        margin-bottom: 15px;
    }
}